body{
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    margin: auto;
}

h1,h2,h3,h4,h5,h6{
    color: #575757;
}

.flex {display: flex;}

.top-section-image img {
    width: 100%;
}

section.top-section h1 span {
    color: #FC8D48;

}

.top-section-text h1 {
    font-size: 50px;
}

.top-section-text h4 {font-weight: 400;}

.top-area-btn {
    text-decoration: none;
    color: #000;
    background-image: linear-gradient(to right,#FC964B, #FE482E);
    padding: 10px 25px;
    border-radius: 30px;
}

.top-section-text {
    margin-top: 120px;
}
